{% extends 'base.html.twig' %}

{% block title %}TravelCar | Reservation de parkings {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">TravelCar</h1>
        <p class="lead">La solution parfaite pour vos vacances </p>
        <form action="" method="post">
           Lieu de stationnement <input type="text" name="" id=""> <br>
           Date de début <input type="date" name="" id=""> <input type="time" name="" id=""> <br>
           Date de fin <input type="date" name="" id=""> <input type="time" name="" id="">
        </form>
    </div>
</div>
<br>
<div class="container">
    <h1>Comment ça marche</h1>
    <p>
        Travelcar est une plateforme de reservation de places de parking partout en france dévelopée par des étudiants de l'UTT
    </p>
</div>
{% endblock %}