{% extends 'base.html.twig' %}

{% block title %}TravelCar | Reservation de parkings {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid" style="
padding: 36px;
border-radius: 20px;
background-color: #e7e7e7;
box-shadow: 0px 11px 9px 0 rgba(60, 64, 67, 0.13), 0 1px 3px 1px rgba(60, 64, 67, 0.15);">
    <div class="container">
        <h1 class="display-4">TravelCar</h1>
        <p class="lead">La solution parfaite pour vos vacances </p>
       {% if app.user %}
            {{ include("reservation/my/_search._form.html.twig", { button_label: "C'est parti !" }) }}
        {% else %}
        <h3>Vous devez vous connecter afin de pouvoir chercher une réservation</h3>
        {% endif %}
    </div>
    

</div>
<br>
<div class="container">
    <h1>Comment ça marche</h1>
    <p>
        Travelcar est une plateforme de reservation de places de parking partout en france dévelopée par des étudiants de l'UTT
    </p>
</div>
{% endblock %}