{% extends 'base.html.twig' %}

{% block title %}TravelCar | Reservation de parkings {% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">TravelCar</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
{% endblock %}