{% extends 'base_back.html.twig' %} {% block title %}New Parkreview{% endblock
%} {% block body %}
<h1>Create new Parkreview</h1>

{{ include("parkreview/_form.html.twig") }}

<a href="{{ path('parkreview_index') }}">back to list</a>
{% endblock %}
