{% extends 'base.html.twig' %} {% block title %}Réservation{% endblock %}
{% block body %}
    <h1>Erreur</h1>

    <p>Malheureusement votre demande n'a pas pu aboutir</p>

    <a href="#/" onclick="window.history.back()">Retour à la recherche de places</a>

{% endblock %}