{% extends 'base.html.twig' %} {% block title %}Recherche de place{%
    endblock %} {% block body %}
    <h1>Places disponibles selon vos critères</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Parking</th>
            <th>Disponibilité</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
            <tr>
                <td>
                    {{ spot.code }}
                </td>
                <td>
                    {{ spot.parking }}
                </td>
                <td></td>
                <td>
                    {# Reserve spot for period #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune réservation&nbsp;! </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
